html, body {
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 15px;
}

a {
    font-size: 13px;
}

a:link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    text-decoration: underline;
}

/* navigation bar */

#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    padding-top: 10px;
}

.l-nav {
    float: left;
}

.r-nav {
    float: right;
}

/* logo */

img {
    height: 92px;
    width: 272px;
    display: block;
    margin: 200px auto 0 auto;
}

/* form */

form {
    margin-top: 20px;
}

input[type=text] {
    padding: 12px 150px;
}

input[type=submit] {
    background-color: lightgrey;
    border: none;
    padding: 15px 15px;
    margin: 30px 5px;
}

/* footer */

#footer {
    background-color: lightgray;
    width: 100%;
    height: 2em;
    line-height: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
}

.l-foot {
    float: left;
}

.r-foot {
    float: right;
}